In [11]:
import pandas as pd
import numpy as np

In [134]:
#pip install pandas openpyxl

**Import datasets**

In [212]:
df1 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final1.csv')
df2 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final2.csv')
df3 = pd.read_excel('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final3.xlsx')
df4 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final4.csv')
df5 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final5.csv')
df6 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final6.csv')

In [213]:
df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)

In [214]:
df.head()

,name,age,about,location,story_about,job,education
0,Jan,", 32","Active,Graduate degree,Socially,Man,Don’t know...",Barcelona,@janll13,NaN,NaN
1,Alejandro,", 36","Active,Graduate degree,Never,Man,Don’t know yet","El Masnou, Barcelona","Aquí de vuelta , he perdido mi antigua cuenta ...",NaN,NaN
2,Víctor,", 23","Active,In college,Man,Don’t know yet",Barcelona,@vreiina_,Entrenador,NaN
3,Roger,", 27","Active,Scorpio,Graduate degree,Socially,Never,...",Barcelona,Mestre de primària.\nT'he vist a Twitter.\nO s...,NaN,NaN
4,Nico,", 33","Active,Rarely,Never",Barcelona,NaN,Médico,NaN

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         599 non-null    object
 1   age          599 non-null    object
 2   about        599 non-null    object
 3   location     590 non-null    object
 4   story_about  456 non-null    object
 5   job          297 non-null    object
 6   education    183 non-null    object
dtypes: object(7)
memory usage: 32.9+ KB

Edit column age and remove de ","

In [216]:
# Eliminar la coma delante de los valores
df['age'] = df['age'].str.replace(',', '')

# Convertir los valores a números enteros
df['age'] = df['age'].astype(int)

Separed per column the categories of the column about

In [217]:
categories = { 
    "work_out" : ['Active', 'Sometimes', 'Almost Never'],
    "zodiac_sign" : ['Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Scorpio', 'Sagittarius', 'Capricorn', 'Aquarius', 'Pisces'],
    "education_ca" : ['High school', 'Trade/tech school', 'In college', 'Undergraduate degree', 'In grad school', 'Graduate degree'],
    "drink" : ['Frequently', 'Socially', 'Rarely', 'Never', 'Sober'],
    "smoke" : ['Socially', 'Never', 'Regularly'],
    "looking_for" : ['Relationship', 'Something casual', 'Don’t know yet', 'Marriage'],
    "children" : ['Want someday', 'Don’t want', 'Have and want more', 'Have and don’t want more', 'Not sure yet', 'Have kids', 'Open to kids'],
    "political_leaning" : ['Apolitical', 'Moderate', 'Left', 'Right'],
    "religion" : ['Agnostic', 'Atheist', 'Buddhist', 'Catholic', 'Christian', 'Hindu', 'Jain', 'Jewish', 'Mormon', 'Latter-day Saint', 'Muslim', 'Zoroastrian', 'Sikh', 'Spiritual', 'Other'],
    "gender" : ['Woman', 'Man'],
}

In [218]:
# Dictionary to store used categories
used_categories = {key: set() for key in categories.keys()}

def categorie(x, key):
    global used_categories
    for value in categories[key]:
        if value in x and (value not in used_categories.values() or key in used_categories and value in used_categories[key]):
            used_categories[key].add(value)
            return value
    return np.nan

In [198]:
def categorie(x, key):
    for values in categories[key]:
            if values in x:
                return values
    return np.nan

In [219]:
for key in categories.keys():
    df[key] = df["about"].apply(lambda x: categorie(x, key))

In [220]:
df.head(30)

,name,age,about,location,story_about,job,education,work_out,zodiac_sign,education_ca,drink,smoke,looking_for,children,political_leaning,religion,gender
0,Jan,32,"Active,Graduate degree,Socially,Man,Don’t know...",Barcelona,@janll13,NaN,NaN,Active,NaN,Graduate degree,Socially,Socially,Don’t know yet,NaN,NaN,NaN,Man
1,Alejandro,36,"Active,Graduate degree,Never,Man,Don’t know yet","El Masnou, Barcelona","Aquí de vuelta , he perdido mi antigua cuenta ...",NaN,NaN,Active,NaN,Graduate degree,Never,Never,Don’t know yet,NaN,NaN,NaN,Man
2,Víctor,23,"Active,In college,Man,Don’t know yet",Barcelona,@vreiina_,Entrenador,NaN,Active,NaN,In college,NaN,NaN,Don’t know yet,NaN,NaN,NaN,Man
3,Roger,27,"Active,Scorpio,Graduate degree,Socially,Never,...",Barcelona,Mestre de primària.\nT'he vist a Twitter.\nO s...,NaN,NaN,Active,Scorpio,Graduate degree,Socially,Socially,Don’t know yet,Want someday,NaN,Agnostic,Man
4,Nico,33,"Active,Rarely,Never",Barcelona,NaN,Médico,NaN,Active,NaN,NaN,Rarely,Never,NaN,NaN,NaN,NaN,NaN
5,Henry,45,"Active,Libra,Rarely,Never,Man,Don’t know yet,H...",Barcelona,NaN,NaN,NaN,Active,Libra,NaN,Rarely,Never,Don’t know yet,Have and don’t want more,NaN,Agnostic,Man
6,Tino,39,"Sometimes,Scorpio,Graduate degree,Socially,Nev...",Barcelona,99% looks 1% character :) Funny as hell. Job e...,Tech Consulting at Tech Company,NaN,Sometimes,Scorpio,Graduate degree,Socially,Socially,Relationship,Want someday,Moderate,NaN,Man
7,Fabrício,35,"Active,In grad school,Socially,Never,Man,Don’t...",Barcelona,🇧🇷🇮🇹 Swipe right and I'll tell you everything ...,Program Manager in IT & Podcaster,Computer Engineering - UNICAMP 2010,Active,NaN,In grad school,Socially,Socially,Don’t know yet,Want someday,NaN,Agnostic,Man
8,Manu,30,"Active,Sagittarius,Socially,Man,Relationship,W...",Barcelona,NaN,Director General,Eae,Active,Sagittarius,NaN,Socially,Socially,Relationship,Want someday,NaN,NaN,Man
9,Ben,25,"Active,Libra,Undergraduate degree,Socially,Man...",Barcelona,coming to a hip hop concert with me,NaN,Duke,Active,Libra,Undergraduate degree,Socially,Socially,Something casual,NaN,NaN,NaN,Man
10,Borja,35,"Active,Libra,Undergraduate degree,Socially,Man...",Barcelona,NaN,NaN,NaN,Active,Libra,Undergraduate degree,Socially,Socially,Something casual,NaN,NaN,NaN,Man
11,Rune,43,"Active,Gemini,In grad school,Socially,Never,Ma...",Barcelona,NaN,NaN,NaN,Active,Gemini,In grad school,Socially,Socially,Relationship,Want someday,Moderate,NaN,Man
12,Sabas,22,"Man,Something casual","Cornellà de Llobregat, Barcelona",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Something casual,NaN,NaN,NaN,Man
13,Pau,30,"Active,Gemini,Never,Man,Don’t know yet",Barcelona,Pides palomitas mitad dulces y saldas en el cine,NaN,NaN,Active,Gemini,NaN,Never,Never,Don’t know yet,NaN,NaN,NaN,Man
14,Federico,42,"Active,Man,Don’t know yet",Barcelona,NaN,NaN,NaN,Active,NaN,NaN,NaN,NaN,Don’t know yet,NaN,NaN,NaN,Man
15,Alessandro,28,"Sometimes,Graduate degree,Socially,Never,Man,N...",Barcelona,La vida es un regalo💃🏻\n🇮🇹\nBcn,Digital Marketing,Eae 2020,Sometimes,NaN,Graduate degree,Socially,Socially,NaN,Not sure yet,NaN,Agnostic,Man
16,Kam,59,"Active,Aquarius,Graduate degree,Socially,Never...",Barcelona,"Sapiosexual, well educated, active. LUV travel...",CEO at Healthcare,McGill University 2004,Active,Aquarius,Graduate degree,Socially,Socially,Relationship,Don’t want,NaN,Atheist,Man
17,Humza,35,"Sometimes,Taurus,Socially,Man,Open to kids,Other",Barcelona,He/Him/Humz\nFully prepared to lose my comfies...,Manager of Product Management at Centene,NaN,Sometimes,Taurus,NaN,Socially,Socially,NaN,Open to kids,NaN,Other,Man
18,Ahmed,28,Man,Barcelona,NaN,Dentist at My Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Man
19,Simon,54,"Active,Taurus,In grad school,Socially,Never,Re...",Barcelona,Scottish and trying my best at being cosmopoli...,Pilot,NaN,Active,Taurus,In grad school,Socially,Socially,Relationship,Not sure yet,Apolitical,Atheist,NaN
20,Eduardo,35,"Active,Aquarius,Trade/tech school,Socially,Soc...","Badalona, Barcelona",Hola soy Lalo!! \nMexicano 🇲🇽 visitando 1 ves ...,Diseñador UX/UI,Unitec 2015,Active,Aquarius,Trade/tech school,Socially,Socially,NaN,Want someday,NaN,Spiritual,Man
21,Tiger,26,"Socially,Man,Relationship,Open to kids,Agnostic",Barcelona,I'm from New Zealand passing through on holiday.,NaN,NaN,NaN,NaN,NaN,Socially,Socially,Relationship,Open to kids,NaN,Agnostic,Man
22,Nacho,43,"Active,Cancer,Graduate degree,Rarely,Never,Man...",Barcelona,🇦🇷 de Rosario. Me gusta el café de moka por la...,Medico,NaN,Active,Cancer,Graduate degree,Rarely,Never,Don’t know yet,Have kids,Apolitical,NaN,Man
23,Xavi,34,"Active,Socially,Regularly,Man,Don’t know yet,W...",Barcelona,Soy ese tío que sube unas escaleras y tropieza...,NaN,NaN,Active,NaN,NaN,Socially,Socially,Don’t know yet,Want someday,NaN,NaN,Man
24,Patrick,25,"Active,Socially,Man,Something casual",Barcelona,1.90,NaN,NaN,Active,NaN,NaN,Socially,Socially,Something casual,NaN,NaN,NaN,Man
25,Luis,35,"Active,Libra,In grad school,Never,Never,Man,Re...",Barcelona,"Viajes, aventura, naturaleza.\nPaddle board 🏄🏻...",Product Manager at Retail,Universidad San Francisco De Quito 2011,Active,Libra,In grad school,Never,Never,Relationship,Want someday,NaN,Catholic,Man
26,Rohan,24,"Active,Leo,Undergraduate degree,Socially,Never...",Barcelona,"Hey, I’m from India and I’m a tennis coach. Be...",Tennis coach,University of Toronto 2021,Active,Leo,Undergraduate degree,Socially,Socially,Relationship,Want someday,Apolitical,Atheist,NaN
27,Albert,29,"Sometimes,Sagittarius,Socially,Never,Man,Relat...","Castelldefels, Barcelona",Tengo una boda en junio y no quiero ir solo.,NaN,NaN,Sometimes,Sagittarius,NaN,Socially,Socially,Relationship,Not sure yet,Apolitical,Atheist,Man
28,Deniz,27,"Sometimes,Libra,Undergraduate degree,Socially,...",Barcelona,"Travel whenever possible.\nLove scuba diving, ...",NaN,Koc University 2021,Sometimes,Libra,Undergraduate degree,Socially,Socially,NaN,Open to kids,NaN,Agnostic,Man
29,J,27,"Sometimes,Libra,Trade/tech school,Socially,Soc...",Barcelona,"Que sera, sera\n- thisesjose",Bank at Bank,WSKVW 2016,Sometimes,Libra,Trade/tech school,Socially,Socially,Don’t know yet,Want someday,Apolitical,Other,Man

Remove column about

Add column to indicate profile girl or boy

In [ ]:
https://fr1.ecdn2.bumbcdn.com/i/big/assets/bumble_lifestyle_badges/normal/web/standard/sz___size__/ic_badge_profileChips_dating_heightv2.png

https://fr1.ecdn2.bumbcdn.com/i/big/assets/bumble_lifestyle_badges/normal/web/standard/sz___size__/ic_badge_profileChips_dating_exercisev2.png



<div class="pill" data-qa-role="pill"><div class="pill__image-box"><img class="pill__image" src="//fr1.ecdn2.bumbcdn.com/i/big/assets/bumble_lifestyle_badges/normal/web/standard/sz___size__/ic_badge_profileChips_dating_heightv2.png" alt="184 cm"></div><div class="pill__title" dir="auto"><div class="p-3 text-ellipsis font-weight-medium">184 cm</div></div></div>