In [11]:
import pandas as pd
import numpy as np

In [134]:
#pip install pandas openpyxl

**Import datasets**

In [221]:
df1 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final1.csv')
df2 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final2.csv')
df3 = pd.read_excel('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final3.xlsx')
df4 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final4.csv')
df5 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final5.csv')
df6 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/df_final6.csv')
df7 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/notebook/df_prueba.csv')

In [213]:
df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)

In [214]:
df.head()

,name,age,about,location,story_about,job,education
0,Jan,", 32","Active,Graduate degree,Socially,Man,Donâ€™t know...",Barcelona,@janll13,NaN,NaN
1,Alejandro,", 36","Active,Graduate degree,Never,Man,Donâ€™t know yet","El Masnou, Barcelona","AquÃ­ de vuelta , he perdido mi antigua cuenta ...",NaN,NaN
2,VÃ­ctor,", 23","Active,In college,Man,Donâ€™t know yet",Barcelona,@vreiina_,Entrenador,NaN
3,Roger,", 27","Active,Scorpio,Graduate degree,Socially,Never,...",Barcelona,Mestre de primÃ ria.\nT'he vist a Twitter.\nO s...,NaN,NaN
4,Nico,", 33","Active,Rarely,Never",Barcelona,NaN,MÃ©dico,NaN

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         599 non-null    object
 1   age          599 non-null    object
 2   about        599 non-null    object
 3   location     590 non-null    object
 4   story_about  456 non-null    object
 5   job          297 non-null    object
 6   education    183 non-null    object
dtypes: object(7)
memory usage: 32.9+ KB

Edit column age and remove de ","

In [216]:
# Eliminar la coma delante de los valores
df['age'] = df['age'].str.replace(',', '')

# Convertir los valores a nÃºmeros enteros
df['age'] = df['age'].astype(int)

Separed per column the categories of the column about

In [223]:
df7.head()

,name,age,categories,location,story_about,job,education
0,June,", 39","[{'heightv2': '178 cm'}, {'exercisev2': 'Activ...",Barcelona,28 May-4 June 2024 in Barcelona ðŸ‡ªðŸ‡¸\nLooking fo...,NaN,NaN
1,Agus,", 25","[{'heightv2': '191 cm'}, {'drinkingv2': 'Socia...",Barcelona,ver la peli correcta,NaN,NaN

In [224]:
categories = { 
    "work_out" : ['Active', 'Sometimes', 'Almost Never'],
    "zodiac_sign" : ['Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Scorpio', 'Sagittarius', 'Capricorn', 'Aquarius', 'Pisces'],
    "education_ca" : ['High school', 'Trade/tech school', 'In college', 'Undergraduate degree', 'In grad school', 'Graduate degree'],
    "drink" : ['Frequently', 'Socially', 'Rarely', 'Never', 'Sober'],
    "smoke" : ['Socially', 'Never', 'Regularly'],
    "looking_for" : ['Relationship', 'Something casual', 'Donâ€™t know yet', 'Marriage'],
    "children" : ['Want someday', 'Donâ€™t want', 'Have and want more', 'Have and donâ€™t want more', 'Not sure yet', 'Have kids', 'Open to kids'],
    "political_leaning" : ['Apolitical', 'Moderate', 'Left', 'Right'],
    "religion" : ['Agnostic', 'Atheist', 'Buddhist', 'Catholic', 'Christian', 'Hindu', 'Jain', 'Jewish', 'Mormon', 'Latter-day Saint', 'Muslim', 'Zoroastrian', 'Sikh', 'Spiritual', 'Other'],
    "gender" : ['Woman', 'Man'],
}

In [225]:
# Dictionary to store used categories
used_categories = {key: set() for key in categories.keys()}

def categorie(x, key):
    global used_categories
    for value in categories[key]:
        if value in x and (value not in used_categories.values() or key in used_categories and value in used_categories[key]):
            used_categories[key].add(value)
            return value
    return np.nan

In [226]:
def categorie(x, key):
    for values in categories[key]:
            if values in x:
                return values
    return np.nan

In [219]:
for key in categories.keys():
    df[key] = df["about"].apply(lambda x: categorie(x, key))

In [227]:
for key in categories.keys():
    df7[key] = df7["categories"].apply(lambda x: categorie(x, key))

In [228]:
df7.head()

,name,age,categories,location,story_about,job,education,work_out,zodiac_sign,education_ca,drink,smoke,looking_for,children,political_leaning,religion,gender
0,June,", 39","[{'heightv2': '178 cm'}, {'exercisev2': 'Activ...",Barcelona,28 May-4 June 2024 in Barcelona ðŸ‡ªðŸ‡¸\nLooking fo...,NaN,NaN,Active,Capricorn,In college,Socially,Socially,Something casual,Donâ€™t want,Moderate,Other,Man
1,Agus,", 25","[{'heightv2': '191 cm'}, {'drinkingv2': 'Socia...",Barcelona,ver la peli correcta,NaN,NaN,Active,Capricorn,In college,Socially,Socially,Something casual,Donâ€™t want,Moderate,Other,Man

In [230]:
df7["categories"].value_counts()

categories
[{'heightv2': '178 cm'}, {'exercisev2': 'Active'}, {'starSignv2': 'Capricorn'}, {'educationv2': 'In college'}, {'drinkingv2': 'Rarely'}, {'smokingv2': 'Socially'}, {'genderv2': 'Man'}, {'intentionsv2': 'Something casual'}, {'familyPlansv2': 'Donâ€™t want'}, {'religionv2': 'Other'}, {'Politicsv2': 'Moderate'}]                                                                                                                                           1
[{'heightv2': '191 cm'}, {'drinkingv2': 'Socially'}, {'smokingv2': 'Never'}, {'genderv2': 'Man'}, {'intentionsv2': 'Something casual'}, {'heightv2': '178 cm'}, {'exercisev2': 'Active'}, {'starSignv2': 'Capricorn'}, {'educationv2': 'In college'}, {'drinkingv2': 'Rarely'}, {'smokingv2': 'Socially'}, {'genderv2': 'Man'}, {'intentionsv2': 'Something casual'}, {'familyPlansv2': 'Donâ€™t want'}, {'religionv2': 'Other'}, {'Politicsv2': 'Moderate'}]    1
Name: count, dtype: int64

Remove column about

Add column to indicate profile girl or boy

In [ ]:
https://fr1.ecdn2.bumbcdn.com/i/big/assets/bumble_lifestyle_badges/normal/web/standard/sz___size__/ic_badge_profileChips_dating_heightv2.png

https://fr1.ecdn2.bumbcdn.com/i/big/assets/bumble_lifestyle_badges/normal/web/standard/sz___size__/ic_badge_profileChips_dating_exercisev2.png



<div class="pill" data-qa-role="pill"><div class="pill__image-box"><img class="pill__image" src="//fr1.ecdn2.bumbcdn.com/i/big/assets/bumble_lifestyle_badges/normal/web/standard/sz___size__/ic_badge_profileChips_dating_heightv2.png" alt="184 cm"></div><div class="pill__title" dir="auto"><div class="p-3 text-ellipsis font-weight-medium">184 cm</div></div></div>