In [244]:
import pandas as pd
import numpy as np
import re

In [134]:
#pip install pandas openpyxl

# WOMAN PROFILE

**Import datasets**

In [247]:
df1 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/woman.csv')
df2 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/woman1.csv')
df3 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/woman2.csv')
df4 = pd.read_csv('/Users/roraimachavez/Downloads/7.IRONHACK/Projects/final_project/data/woman/woman3.csv')

In [249]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           100 non-null    object
 1   age            100 non-null    int64
 2   location       99 non-null     object
 3   story_about    78 non-null     object
 4   job            64 non-null     object
 5   education      42 non-null     object
 6   heightv2       98 non-null     object
 7   exercisev2     99 non-null     object
 8   starSignv2     93 non-null     object
 9   educationv2    90 non-null     object
 10  drinkingv2     98 non-null     object
 11  smokingv2      92 non-null     object
 12  genderv2       94 non-null     object
 13  familyPlansv2  83 non-null     object
 14  intentionsv2   89 non-null     object
 15  religionv2     66 non-null     object
 16  Politicsv2     48 non-null     object
dtypes: int64(1), object(16)
memory usage: 13.4+ KB

In [232]:
df = pd.concat([df1, df2], ignore_index=True)

In [213]:
#df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)

In [233]:
df.head()

,name,age,location,story_about,job,education,heightv2,intentionsv2,exercisev2,educationv2,drinkingv2,smokingv2,familyPlansv2,religionv2,Politicsv2,genderv2,starSignv2
0,Tarek,26,"Sant Cugat del Vallès, Barcelona",NaN,NaN,NaN,175 cm,Something casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guillem,41,Barcelona,Philosophy and film studies.\n\nFrom electroni...,Film Editor And Teacher,UAB-UB-EDC,184 cm,Something casual,Sometimes,Graduate degree,Socially,Socially,Not sure yet,Atheist,Left,NaN,NaN
2,Bernardo,31,Barcelona,NaN,NaN,NaN,180 cm,Something casual,Sometimes,Graduate degree,Socially,Socially,Not sure yet,Atheist,Left,Man,NaN
3,Leonardo,28,Barcelona,Looking for company to explore the World,Electrical Engineer,UFSC,174 cm,NaN,Sometimes,Undergraduate degree,Socially,Never,Not sure yet,NaN,Apolitical,Man,Aquarius
4,Ahmed,31,Barcelona,NaN,NaN,NaN,186 cm,Relationship,Sometimes,Graduate degree,Socially,Socially,Not sure yet,NaN,Apolitical,Man,Scorpio

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           120 non-null    object
 1   age            120 non-null    int64
 2   location       119 non-null    object
 3   story_about    93 non-null     object
 4   job            75 non-null     object
 5   education      52 non-null     object
 6   heightv2       118 non-null    object
 7   intentionsv2   108 non-null    object
 8   exercisev2     118 non-null    object
 9   educationv2    108 non-null    object
 10  drinkingv2     117 non-null    object
 11  smokingv2      111 non-null    object
 12  familyPlansv2  101 non-null    object
 13  religionv2     79 non-null     object
 14  Politicsv2     63 non-null     object
 15  genderv2       112 non-null    object
 16  starSignv2     110 non-null    object
dtypes: int64(1), object(16)
memory usage: 16.1+ KB

Change columns names

In [235]:
new_column_names = {
    'heightv2': 'height',
    'intentionsv2': 'intentions',
    'exercisev2': 'exercise',
    'educationv2': 'education',
    'drinkingv2': 'drinking',
    'smokingv2': 'smoking',
    'familyPlansv2': 'childrens',
    'religionv2': 'religion',
    'Politicsv2': 'politics',
    'genderv2': 'gender',
    'starSignv2': 'zodiacSign',
}

df.rename(columns=new_column_names, inplace=True)

Remove "cm" in column height so is a int number

In [240]:
df['height'] = df['height'].str.replace(' cm', '')

Add “profile” column to indicate whether the profile is female or male.

In [242]:
df['profile'] = 'woman'

In [243]:
df.head()

,name,age,location,story_about,job,education,height,intentions,exercise,education,drinking,smoking,childrens,religion,politics,gender,zodiacSign,profile
0,Tarek,26,"Sant Cugat del Vallès, Barcelona",NaN,NaN,NaN,175,Something casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woman
1,Guillem,41,Barcelona,Philosophy and film studies.\n\nFrom electroni...,Film Editor And Teacher,UAB-UB-EDC,184,Something casual,Sometimes,Graduate degree,Socially,Socially,Not sure yet,Atheist,Left,NaN,NaN,woman
2,Bernardo,31,Barcelona,NaN,NaN,NaN,180,Something casual,Sometimes,Graduate degree,Socially,Socially,Not sure yet,Atheist,Left,Man,NaN,woman
3,Leonardo,28,Barcelona,Looking for company to explore the World,Electrical Engineer,UFSC,174,NaN,Sometimes,Undergraduate degree,Socially,Never,Not sure yet,NaN,Apolitical,Man,Aquarius,woman
4,Ahmed,31,Barcelona,NaN,NaN,NaN,186,Relationship,Sometimes,Graduate degree,Socially,Socially,Not sure yet,NaN,Apolitical,Man,Scorpio,woman

In [245]:
#General view of the activities
unicos = df["job"].unique()
for i in unicos:
    print(i)
len(unicos)

nan
Film Editor And Teacher
Electrical Engineer
model
Enginyer informàtic
Consultant at Recruitment
Program Manager in IT & Podcaster
Ceo
Account manager
Startup Founder
Pädagoge für Kinder at Kindergärten
Empresario
Comunicació
Higienista Bucodental
Growth Director
Compositor musical at free worker
Pizzaiolo at Alma Mia
La Vida
Médico
Business Manager at Tecnologia
Ingeniero de Software
Professor
Software Engineer at Moving Picture Company
Infectious Diseases Medical Doctor
General partner at Encomenda Venture Capital
Sales team leader Catalunya at TheFork
Software Engineer
Project Manager at IT
Realtor at Berkshire Hathaway Home Services Golden Properties
Tècnic Elèctric
Sales at Finland
High school teacher
Chef at Aquamarina Hotel
Country Manager at Tech SaaS
Técnico en Anatomía Patológica
escritor at zaino
Beca en investigación at Instituto de Investigación en IA
Global Marketing Director
Marketing at Aura Empresas
Director at Inteligencia Artificial
buisness-owner
Engineer
Associate Director at George Elkins Mortgage Banking Company
Software Quality Engineer at Service Now
Enterprise Account Executive at Software
Director at Tech
químic
Koch at Gastro
Entrenador futbol
Director Financiero Energias Renovables
cuiner
Lawyer
Archaeologist
COO at Tech
Funcionario
Self-employed at Tech
Cocinero at PUR
encargado at construcción
Fake Engineer
Trader
Analyst at TD
Student at UPC Barcelona
Research at UAB
Construction Management
fotògraf
Chief epistemic officer at Stealth neurotech
Software developer
Fotógrafo
Comunico cosas
job at company
Psicólogo
Autónomo
Founder at Personal development Academy In French
Pilot

74

In [ ]:
dict_species = {
    r"[Ff]ilm": "film industry",
    r"[Mm]odel": "model",
    r"[Ss]oftware": "software engineer",
    r"[Aa]cco": "account manager",
    r"[Mm]usic": "music industry",
    r"[Rr]ecruitment": "recruitment or consultant",
    r"[Ss]ales": "sales",
    r"[Pp]roject": "project manager",
    r"[Tt]eacher|[Pp]rofesor": "teacher",
    r"[Ww]riter|[Ee]scritor": "writer",
    r"[Cc]ocinero|[Ee]scritor": "writer",
    r"[Ll]emon": "Lemon Shark"}

In [ ]:
# Function to categorize species
def categorize_activities(text, dict_activity):
    if isinstance(text, str):  # Check if the value is a text string
        for pattern, category in dict_activity.items():
            if re.search(pattern, text):
                return category
    return "Other"  # If it does not match any category, "Other" is returned.

# Clear invalid values in the "activity" column
df["species"] = df["species"].fillna("empty")  # Fill NaN values with an empty string
df["species"] = df["species"].astype(str)  # Convert all values to text strings

# Apply the function to categorize activities
df["species"] = df["species"].apply(lambda x: categorize_activities(x, dict_species))

In [ ]:
df["species"].unique()

In [ ]:
count_activity = df["species"].value_counts()
print(count_activity)

# MAN PROFILE

# MERGED PROFILES